//Widescreens
@include mediaXL{
.projects{
    grid-template-columns: repeat(4,1fr);

}


}

//Desktops & Laptops
@include mediaLg{
    .projects{
        grid-template-columns: repeat(3,1fr);
        
    }
    
    .bio-img{
        width: 83%;
        
        
    
    }
}

// Tablets & Small Laptops
@include mediaMd{
    main{
        align-items: center;
        text-align: center;

    .lg-heading{
        line-height: 1;
        margin-bottom: 1rem;
    }
    }

    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;

    &.show{
        transform: translate3d(0,0,0);

    }
    }
    .menu-nav{
        height: 70vh;
        transform: translate3d(-100%,0,0);
        font: 24px;
    }

    .menu-branding{
        height: 30vh;
        transform: translate3d(100%,0,0);

    .portrait{
        width: 125px;
        height:125px;
    }    
    }
    .about-info{
        grid-template-areas: 
        'bioimage'
        'bio'
        'skills'
        'strenghs';
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .projects{
        grid-template-columns: repeat(2,1fr);
        
    }
    
}

//Smartphones
@include mediaSm{

    html{
        height: 100%;
        margin: 0;
        
    }
    
    body{
        @include background;
        background: $primary-color;
        background-attachment: fixed;
        background-size: cover;
       height: 100%;
        color: set-text-color($primary-color);
        
          margin: 0;
          font-family: 'Segoe UI', 'Segoe UI', Tahoma,
           Geneva, Verdana, sans-serif;
           line-height: 1.5;
    }

    main{
        // align-items: center;
        // text-align: center;
        // overflow: scroll;

        
    // &#home h1{
    //     margin-top: 10vh;
    //     font-size: 4em;
    // }
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 4em;
    // grid-template-columns: 1fr;
     display: flex;
        flex-flow: column;
        // justify-content: center;
        align-items: center;
    // background: rebeccapurple;
    overflow: scroll;

    .lg-heading{
        margin: 30px;
        margin-bottom: 0;
        margin-top: 10vh;
        font-size: 4.7rem;
        text-align: center;
        // display: flex;
        // flex-flow: column;
        // justify-content: center;
        // align-items: center;
        // background: red;
       
    }

    .sm-heading{
        font-size: 1.4rem;
        padding: 10px 10px;
        margin: 20px 35px 30px 35px;
        
    }

    .icons{
        margin-top:1rem;
        font-size: 1.1rem;
        a{
            padding: 0.4rem;

            &:hover{
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    
}





/*-------------------MENU--------*/
.menu-btn{
    
    right: 17px;
    top:27px;
}
.menu{

    &-nav{
        display: flex;
        justify-content: flex-start;
        
    }
    .nav-item{

        margin-top: 8px;
        padding: 0;
    }


    .nav-link{
    
        font-size: 1.6rem;
        padding: 0.6rem 0;
        }
    
    }

    .menu-nav{
        height: 60vh;
        transform: translate3d(-100%,0,0);
        // font: 24px;
       
    }

    .menu-branding{
        height: 40vh;
        transform: translate3d(100%,0,0);

    .portrait{
        width: 170px;
        height:170px;
    }    
}


/*--------------------END OF MENU----------------------*/

/*------------------ABOUT ME----------------*/

// #about{
//     .lg-heading{
//         font-size: 5.3rem;
//     }
//     .sm-heading{
//         font-size: 1.4rem;
//     }
// }


.about-info{
    width: 79%;
    display: grid;
    gap: 10px ;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    ' bio-image' 
    'bio'
    ;
}


.bio-image{
    grid-area: bio-image;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    
    

}

.bio-img{
    width: 95%;
    border-radius: 50%;
    border: $secondary-color 3px solid;

}

.bio{
    grid-area: bio;
    font-size: 1.2rem;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: rgba(83, 83, 83, 0.3);
    
}



.skills{
   display: none;


    
}





/*----------END OF ABOUT-------------- */


/*----------PROJECTS---------*/



body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    // grid-template-areas: 'header'
    //                         ''
    
    background-attachment: fixed;
    background-repeat: no-repeat;
     height: 100%;
    width: 100%;

     
}


// #work{
//     width: 100%;
//     padding: 0;
//     margin: 0;
//     height: 100%;
//     font-size: 4em;
//     grid-template-columns: 1fr;
//     // background: rebeccapurple;
//     overflow: scroll;

//     .lg-heading{
//         margin: 30px;
//         margin-top: 10vh;
//         font-size: 5.3rem;
//         text-align: center;
//         // display: flex;
//         // flex-flow: column;
//         // justify-content: center;
//         // align-items: center;
//         // background: red;
       
//     }

//     .sm-heading{
//         font-size: 1.4rem;
//         padding: 0;
//         margin: 30px;
        
//     }
    
// }





.projects-center {
    width: 78%;
  
    // max-width: 1170px;
    // display: grid;
    grid-template-columns: 1fr;
    
    // grid-row-gap: 1rem;
    // background: red;

   
    
  }

.projects{
    width: 100%;
    grid-template-columns: 1fr;
    padding: 1rem 0;
   
   
//    background: rosybrown;
    
   
}


.project{
      width: 100%;
      border-radius: 9px;
      background: rgba(lighten($primary-color,2),0.6);
    //   height: 300px;
     
      padding: 7px;

      h3,h4{
          font-weight: 500;
          font-size: 1rem;
          margin-bottom: 8px;
          
      }
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

}

  .project-img {
    // display: block;
    border-radius: 7px;
    border: none;
    width: 100%;
    height: 14rem;
    transition: $mainTransition;
  }

  
  
  #main-footer{
    
    text-align:center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: darken($primary-color,10);
    color: set-text-color($primary-color);
    height: 40px;
    // margin-top: ;
    
    
}


/*-------------END OF PROJECTS------------*/


/*-----------------CONTACT-----------------*/


// #contact{
// height: 100%;
// width: 100%;
// padding: 0;
// margin: 0;
// height: 100%;
//     overflow: scroll;

//     .lg-heading{
//         margin: 30px;
//         margin-top: 10vh;
//         font-size: 5.1rem;
//         text-align: center;
//         display: flex;
//         flex-flow: column;
//         justify-content: center;
//         align-items: center;
//         // background: red;
       
//     }

//     .sm-heading{
//         font-size: 1.4rem;
//         padding: 0;
//         margin: 30px;
        
//     }
//   }
.boxes{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,auto);
      grid-template-areas: 
      "face  "
      "linke"
      "git "
      "email"
      
      ;
     
  
    div{
        width: 100%;
      font-size: 1.8rem;
    
      border-radius: 5px;
      padding: 0;
      margin-bottom: 2rem;
      @include easeOut;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-content: flex-start;
      

    }

    .email{
        grid-area: email ;
        width: 100%;
        
        
        }
        
        .face{
          grid-area: face ;
          width: 100%;
         
        }
        .git{
          grid-area: git ;
          width: 100%;
        
        }
        .linke{
          grid-area: linke;
          width: 100%;
         
        }
        
  
     .email h4{
        width: 100%;
         font-size: 1.5rem;
        
        }
  
  }

  
  
  

  .contFab{
width: 100%;
  }






}
