@import 'config';
@import 'menu';


*{
    box-sizing: border-box;
}

body{
  @include background;
  background: $primary-color;
  background-attachment: fixed;
  background-size: cover;
  
  color: set-text-color($primary-color);
  height: 100%;
    margin: 0;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma,
     Geneva, Verdana, sans-serif;
     line-height: 1.5;
}




//headings
h1,h2,h3{
    margin: 0;
    font-weight: 400;
    &.lg-heading{
        font-size: 5.5rem;
        
    }
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color,2),0.5);
    }
}

a{
    color: #fff;
    text-decoration: none;

}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color: $secondary-color;
}


main{
    padding: 4rem;
    height: 100%;

    .icons{
        margin-top:1rem;

        a{
            padding: 0.4rem;

            &:hover{
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }

    }
}

.about-info{
    display: grid;
    gap: 30px ;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    ' bio-image bio '
    'skills bio';
}

.bio-image{
    grid-area: bio-image;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    

}

.bio-img{
    width: 45%;
    border-radius: 50%;
    border: $secondary-color 3px solid;

}

.bio{
    grid-area: bio;
    font-size: 1.5rem;
    padding-left: 20px;
    border-radius: 10px;
   
    background: rgba(83, 83, 83, 0.3);
    
}

.skills{
    grid-area: skills;
    text-align: center;
    
    background: rgba(34, 52, 54,0.9);//lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    display: flex;
    justify-content: center;
    flex-flow: column;
    border-radius: 14px;
    font-size: 0.9rem;


    
}





//skills-progress-bar

.container {
    margin: 10px auto;
    width: 90%;
    text-align: center;
    font-size: 0.8em;
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr;
    grid-template-rows:  auto;
    grid-template-areas: none
        "skills-label progress2 percent"    
    ;

  }
  
   
  .progress2 {
      
    padding: 4px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);  
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }
  
  .progress-bar2 {
    height: 12px;
    border-radius: 30px;
    background-image: 
      linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;  
    transition-property: width, background-color;    
  }
  
  .progress-moved .progress-bar2.html {
    width: 85%; 
    background-color: $aqua;  
    font-size: 12px;

     animation-name: progressAnimationHTML;
    animation-duration: 6s;
  }
  
  @keyframes progressAnimationHTML {
    0%   { width: 5%; background-color: $aqua;}
    100% { width: 85%; background-color: $aqua; }
  }
  
  .progress-moved .progress-bar2.css{
    width: 75%; 
    background-color: $aqua;  
    animation: progressAnimationCSS 6s;
  }
  
  @keyframes progressAnimationCSS {
    0%   { width: 5%; background-color: $aqua;}
    100% { width: 75%; background-color: $aqua; }
  }
 
  
  .progress-moved .progress-bar2.js{
    width: 80%; 
    background-color:$aqua;  
    animation: progressAnimationJS 6s;
  }
  
  @keyframes progressAnimationJS {
    0%   { width: 5%; background-color:$aqua;}
    100% { width: 80%; background-color:$aqua; }
  }
  .progress-moved .progress-bar2.react{
    width: 74%; 
    background-color:$aqua;  
    animation: progressAnimationReact 6s;
  }
  
  @keyframes progressAnimationReact {
    0%   { width: 5%; background-color: $aqua;}
    100% { width: 74%; background-color: $aqua; }
  }
  .progress-moved .progress-bar2.angular{
    width: 65%; 
    background-color: $aqua;  
    animation: progressAnimationAngular 6s;
  }
  
  @keyframes progressAnimationAngular {
    0%   { width: 5%; background-color: $aqua;}
    100% { width: 65%; background-color: $aqua; }
  }
  .progress-moved .progress-bar2.node{
    width: 70%; 
    background-color: $aqua;  
    animation: progressAnimationNode 6s;
  }
  
  @keyframes progressAnimationNode {
    0%   { width: 5%; background-color: $aqua;}
    100% { width: 70%; background-color: $aqua; }
  }
  .progress-moved .progress-bar2.mongo{
    width: 75%; 
    
    background-color: $aqua;  
    animation: progressAnimationMongo 6s;
  }
  
  @keyframes progressAnimationMongo {
    0%   { width: 5%; background-color: $aqua;}
    100% { width: 75%; background-color: $aqua; }
  }
  


//Work-Projects

.projects {
  padding: 2rem 0;
}
.projects-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}


// .projects{
//   display: grid;
//   grid-template-columns: repeat(3,1fr);
//   gap: 0.7rem;


//     img{
//       width: 100%;
//       border: 3px #fff solid;
//       border-radius: 10px;

//       &:hover{
//         opacity: 0.7;
//         border-color: $secondary-color;
//         @include easeOut;
//       }
//     }

//     .item{
      
//         border-radius: 10px;
      
  
//     }
// }
.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 60%;
  right: 0;
  background: $mainBlack;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: $mainSpacing;
  font-weight: bold;
  transition: $mainTransition;
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn.l {
  position: absolute;
  top: 80%;
  right: 0;
  background: $mainBlack;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: $mainSpacing;
  font-weight: bold;
  transition: $mainTransition;
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn{

    a:hover{
      color: $secondary-color;
     
    }
}

.fab fa-github {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.project-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: $mainTransition;
}
.img-container:hover .project-img {
  opacity: 0.6;
}

.project h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 0.9rem;
  letter-spacing: $mainSpacing;
  text-align: center;
}

.project h4 {
  margin-top: 0.5rem;
  letter-spacing: $mainSpacing;
  color: $secondary-color;
  text-align: center;
}



//Contact Page
.boxes{
  display: grid;
 width: 100%;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
    grid-template-areas: 
    "face linke git email"
    
    ;

  div{
    width: 50%;
    font-size: 2rem;
    // border: 1px rgb(236, 235, 235) solid;
    border-radius: 5px;
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
    @include easeOut;
  }


}

.email{
grid-area: email ;
width: 100%;
h4{
  margin-top: 0;
 
}

}

.face{
  grid-area: face ;
  width: 100%;
}
.git{
  grid-area: git ;
  width: 100%;
}
.linke{
  grid-area: linke;
  width: 100%;
}



//Button styles

.btn{
   display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  border-radius: 7px;

  &:hover{
    background: $secondary-color;
    color: set-text-color($secondary-color);
    
  }

}

.btn-dark{
@extend .btn;
background: darken($primary-color,50);
color: #fff;
}
.btn-light{
@extend .btn;
background: lighten($primary-color,50);
color:#333;
}



#main-footer{
    text-align:center;
    padding: 1rem;
    background: darken($primary-color,10);
    color: set-text-color($primary-color);
    height: 60px;
}




@import 'mobile';